In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.model_selection import GridSearchCV, train_test_split

In [20]:
vegan = pd.read_csv('vegan.csv', encoding='latin-1')

In [21]:
vegan.head()

,title,selftext,created_utc,length,word_count
0,Last friday someone from my college told me it...,So me and a women from my college talked a lit...,1679855229,4419,832
1,Appreciation Post for How Far Weâve Come in ...,NaN,1679855162,0,0
2,Just Got A 30 Day Ban on a Left Wing Sub,[removed],1679854478,9,0
3,Anyone here cycle off/on their supplement vita...,[removed],1679854077,9,0
4,feeling hopeless about it all,When I'm thinking of all the baby chicks getti...,1679853443,763,131

In [22]:
vegan['target'] = 0

In [31]:
vegan.head()

,title,selftext,created_utc,length,word_count,target
0,Last friday someone from my college told me it...,So me and a women from my college talked a lit...,1679855229,4419,832,0
1,Appreciation Post for How Far Weâve Come in ...,NaN,1679855162,0,0,0
2,Just Got A 30 Day Ban on a Left Wing Sub,[removed],1679854478,9,0,0
3,Anyone here cycle off/on their supplement vita...,[removed],1679854077,9,0,0
4,feeling hopeless about it all,When I'm thinking of all the baby chicks getti...,1679853443,763,131,0

In [32]:
vegan.dropna(inplace=True)

In [33]:
vegan.shape

(42140, 6)

In [34]:
cvec = CountVectorizer(max_features = 1000,
                      stop_words = 'english')

In [39]:
X = cvec.fit_transform(vegan['selftext']).toarray()

In [41]:
df = pd.DataFrame(X,columns = cvec.get_feature_names_out())

In [46]:
df.sum().sort_values(ascending=False).head(50)

vegan         26472
deleted       14049
just          11640
like          10858
removed        9529
iâ             9216
ve             7603
meat           7268
https          7206
know           7061
people         6994
animals        6614
eat            6195
animal         6081
food           5496
really         5439
want           5390
don            4998
com            4744
amp            4727
make           4603
eating         4476
think          4453
feel           4409
www            4146
time           4070
good           3804
diet           3676
products       3484
veganism       3481
vegans         3202
going          3164
milk           3143
years          3051
way            2990
itâ            2972
lot            2959
donâ           2910
help           2908
based          2771
need           2730
day            2634
love           2574
things         2552
plant          2534
does           2392
use            2329
life           2316
vegetarian     2286
say            2196
dtype: int64